<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttbt.smartclass.mapper.CourseMaterialMapper">

    <resultMap id="BaseResultMap" type="com.ttbt.smartclass.model.entity.CourseMaterial">
        <id property="id" column="id"/>
        <result property="courseId" column="course_id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="fileUrl" column="file_url"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileType" column="file_type"/>
        <result property="downloadCount" column="download_count"/>
        <result property="sort" column="sort"/>
        <result property="adminId" column="admin_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, course_id, title, description, file_url, file_size,
        file_type, download_count, sort, admin_id, create_time,
        update_time, is_delete
    </sql>

</mapper>