<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttbt.smartclass.mapper.UserWordBookMapper">

    <resultMap id="BaseResultMap" type="com.ttbt.smartclass.model.entity.UserWordBook">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="wordId" column="word_id" />
            <result property="learningStatus" column="learning_status" />
            <result property="isCollected" column="is_collected" />
            <result property="collectedTime" column="collected_time" />
            <result property="difficulty" column="difficulty" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,word_id,learning_status,is_collected,collected_time,
        difficulty,is_deleted,create_time,update_time
    </sql>
</mapper>
