@font-face {
  font-family: 'iconfont'; /* Project id 4857642 */
  src:
    url('iconfont.woff2?t=1744861131228') format('woff2'),
    url('iconfont.woff?t=1744861131228') format('woff'),
    url('iconfont.ttf?t=1744861131228') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanzi:before {
  content: '\e600';
}

.icon-jiahaoanniu_jiahaoanniu:before {
  content: '\e611';
}

.icon-zhuye:before {
  content: '\e640';
}

.icon-wode:before {
  content: '\e6c8';
}

.icon-duihua:before {
  content: '\e6ba';
}

.icon-kecheng:before {
  content: '\fb3e';
}

.icon-a-044_shipinkecheng:before {
  content: '\e6e9';
}

.icon-sousuo:before {
  content: '\e63f';
}

.icon-tuijian:before {
  content: '\e6bb';
}

.icon-lishi:before {
  content: '\e606';
}

.icon-dili-:before {
  content: '\e602';
}

.icon-huaxue:before {
  content: '\e603';
}

.icon-yingyu:before {
  content: '\e607';
}

.icon-zhengzhi:before {
  content: '\e608';
}

.icon-shuxue:before {
  content: '\e60b';
}

.icon-yuwen:before {
  content: '\e604';
}

.icon-wuli:before {
  content: '\e696';
}

.icon-gongshigonggao:before {
  content: '\e63e';
}

.icon-yingyu1:before {
  content: '\e605';
}

.icon-wenzhang:before {
  content: '\ecb3';
}

.icon-shengwu:before {
  content: '\e601';
}

.icon-rengongzhinengjiqiren:before {
  content: '\e646';
}
